//COLOR VARIABLES

//descriptive colors !!do not use these variables directly!!

$_white: #fff;
$_white-smoke: #f5f5f5;

$_nero-grey: #222;

$_cinnabar-red: #f04c1e;

$_apple-green: #4fb53a;

//functional color scheme !!use it in developing!!
$default-bg-color: $_white;

$basic-settings-color: $_nero-grey;

$light-settings-color: $_white;

$accent-color-1: $_cinnabar-red;

$accent-color-2: $_white-smoke;

$accent-color-3: $_apple-green;