//variables
$eff7-icon-width-half: 13px;
$eff7-icon-height-half: 15px;

//effect 7 styles

.foxholder-form {

  //icon styles
  &__icon--effect-7 {
    @include position-absolute($top: 0, $left: 0);
    transition: opacity .4s linear 0s, top .2s linear .2s, transform .2s linear .2s;

    height: 0;
    width: 0;

    transform: translateY(0%);
    opacity: 0;

    border: $eff7-icon-height-half solid transparent;
    border-left: $eff7-icon-width-half solid $input-textarea-border-color;
  }

  &__input--effect-7,
  &__textarea--effect-7 {
    
    //basic styles
    & + label {
      @include transition-mix;
    }

    //effects styles
    &:focus,
    &.is-active {
      padding-left: 43px;

      & + label {
        transform: scale(0.3);
        transform-origin: left center;
        opacity: 0;
      }

      & ~ div {
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
      }
    }
  }
}