//variables
$eff11-accent-color: $accent-color-3;

$eff11-helper-dimensions: 3px;

//effect 11 styles

.foxholder-form {

  &__input--effect-11,
  &__textarea--effect-11 {
    
    //basic styles
    & + label {
      @include transition-mix;
    }

    & ~ .foxholder-form__helper {
      @include position-absolute;
      @include transition-mix($duration: .4s);

      transform: scale(0);
      transform-origin: center;

      background-color: $eff11-accent-color;

      &--top {
        top: -1px;
        left: 0px;
        width: 100%;
        height: $eff11-helper-dimensions;
      }

      &--bottom {
        bottom: -1px;
        left: 0px;
        width: 100%;
        height: $eff11-helper-dimensions;
      }

      &--left {
        top: -1px;
        left: 0px;
        width: $eff11-helper-dimensions;
        height: 100%;
      }

      &--right {
        top: -1px;
        right: 0px;
        width: $eff11-helper-dimensions;
        height: 100%;
      }
    }

    //effects styles
    &:focus,
    &.is-active {

      & + label {
        opacity: 0;
      }

      & ~ .foxholder-form__helper {
        transform: scale(1);
      }
    }
  }
}