//variables
$eff10-label-bg-color: $input-textarea-bg-color;

$eff10-label-offset: 30px;

//effect 10 styles

.foxholder-form {

  &__input--effect-10,
  &__textarea--effect-10 {
    @include transition-mix($duration: .3s);
    
    //basic styles
    & + label {
      @include transition-mix($duration: .3s);
    }

    //effects styles
    &:focus,
    &.is-active {
      padding: $input-textarea-padding $input-textarea-padding*2;

      border-radius: 40px;
      border-style: dashed;

      & + label {
        left: $eff10-label-offset;

        span {
          padding: 0 $label-padding-horz;
          background-color: $eff10-label-bg-color;
        }
      }
    }
  }

  &__textarea--effect-10 {

    & + label {
      padding: $label-padding-vert 0;

      span {
        padding: 0 $label-padding-horz;
      }
    }

    &:focus,
    &.is-active {
      padding: $input-textarea-padding*2 $input-textarea-padding*2;
    }
  }
}

          