//variables
$eff2-accent-color: $accent-color-1;

$eff2-label-font-size: 80%;
$eff2-label-offset-horz: 6px;

//effect 2 styles

.foxholder-form {

	&__input--effect-2,
	&__textarea--effect-2 {
		
		//basic styles
		& + label {
			@include transition-mix;
		}

		//effects styles
		&:focus,
		&.is-active {
			border-left-color: transparent;
			border-right-color: transparent;
			border-top-color: transparent;
			border-bottom-color: $eff2-accent-color;

			& + label {
				top: -($input-textarea-padding + 7);
				left: -$eff2-label-offset-horz;

				font: {
					size: $eff2-label-font-size;
					style: italic;
				}
				color: $eff2-accent-color;
			}
		}
	}
}