//variables
$eff4-btn-hover-color: $light-settings-color;
$eff4-btn-hover-bg: $basic-settings-color;

//button effect 4
.foxholder-form__button {

  &--effect-4 {
    @include transition-mix;

    &.foxholder-form__button--filled {

      &:hover {
        box-shadow: inset 0px 0px 10px 30px $form-btn-bg-color;
        color: $form-btn-font-color;
      }
    }

    &:hover {
      box-shadow: inset 0px 0px 10px 30px $eff4-btn-hover-bg;
      color: $eff4-btn-hover-color;
    }
  }
}