//variables
$eff1-btn-hover-color: $light-settings-color;
$eff1-btn-hover-bg: $basic-settings-color;

$eff1-btn-hover-color-filled: $basic-settings-color;
$eff1-btn-hover-bg-filled: $light-settings-color;

//button effect 1
.foxholder-form__button {

  &--effect-1 {
    @include transition-mix;

    &:hover {
      color: $eff1-btn-hover-color;

      background-color: $eff1-btn-hover-bg;
    }

    &.foxholder-form__button--filled {
      
      &:hover {
        color: $eff1-btn-hover-color-filled;

        background-color: $eff1-btn-hover-bg-filled;
      }
    }
  }
}