//variables
$eff7-btn-move-dimension: 10px;
$eff7-icon-block-width: 30px;

//button effect 7
.foxholder-form__button {

  &--effect-7 {
    @include transition-mix;

    //icon element
    &:after {
      @include position-absolute($top: 0, $right: 0);
      @include transition-mix;

      content: "\f178";

      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      width: $eff7-icon-block-width;
      opacity: 0;

      font: {
        family: FontAwesome;
        size: inherit;
      }

      line-height: inherit;
    }

    &:hover {
      text-indent: - $eff7-icon-block-width/2;

      &:after {
        opacity: 1;
        text-indent: 0;
      }
    }
  }
}