//variables
$eff3-btn-hover-color: $light-settings-color;
$eff3-btn-hover-bg: $basic-settings-color;

//button effect 3
.foxholder-form__button {

  &--effect-3 {
  	transform: translateZ(0);
    
    //basic styles
  	&:after {
  		@include position-absolute($top: 0, $left: 0);

  		content: '';
  		display: block;
  		width: 100%;
  		height: 100%;

  		z-index: -1;
  		transform-origin: center center;


  		background-color: $eff3-btn-hover-bg;
  	}

    &.foxholder-form__button--filled {

      &:after {
      	background-color: $form-btn-bg-color;
      }

      &:hover {
        color: $form-btn-font-color;
      }
    }

    &:hover {
      color: $eff3-btn-hover-color;

      &:after {
      	@include transition-mix;
      }
    }

    //vertical effect styles
    &-vert {

    	&:after {
    		transform: scale(0,1);
    	}

    	&:hover {

    		&:after {
    			transform: scale(1,1);
    		}
    	}
    }

    //horizontal effect styles
    &-horz {

    	&:after {
    		transform: scale(1,0);
    	}

    	&:hover {

    		&:after {
    			transform: scale(1,1);
    		}
    	}
    }

    //horizontal and vertical effect styles
    &-horzVert {

    	&:after {
    		transform: scale(0);
    	}

    	&:hover {

    		&:after {
    			transform: scale(1);
    		}
    	}
    }

    //diagonal effect styles
    &-diagonal {

    	&:after {
    		top: 50%;
    		left: 50%;
    		height: 300%;
    		width: 300%;
    		transform: translate(-50%, -50%) rotate(45deg) scale(0);
    	}

    	&:hover {

    		&:after {
    			@include transition-mix($duration: .3s);
    			transform: translate(-50%, -50%) rotate(45deg) scale(1);
    		}
    	}
    }
  }
}